{% extends 'base.html' %}
{% load common_tags %}
{% block title %}领克便利数据中心{% endblock %}
{% block header %}
    分类概况
    <small>分类统计数据概括</small>
{% endblock %}

{% block content_body %}
<section style="margin:auto; padding-top:20px;" class="content container-fluid">
    <script src="static/js/echarts.js"></script>
    <div id="main_pie" style="width:100%;height:500px; border:1px solid red; float:left;"></div>
    <div id="main" style="width:100%;height:500px; border:1px solid red; float:left;"></div>
    <div id="main_smoke" style="width:100%; height:400px; border:1px solid red; float:left;"></div>
    <div id="main_water" style="width:100%; height:400px; border:1px solid red; float:left;"></div>


    <script type="text/javascript">
        window_width = document.body.clientWidth
        pie_box = document.getElementById("main_pie")
        main_box = document.getElementById("main")
        smoke_box = document.getElementById("main_smoke")
        water_box = document.getElementById("main_water")
        if(window_width>1000){
            smoke_box.style.width = "50%";
            water_box.style.width = "50%";
            pie_box.style.width = "50%";
            main_box.style.width = "50%";
        }
    function set_pie(all_data){
        var myChart = echarts.init(document.getElementById('main_pie'));
        classify_data = []
        var i=0;
        for(key in all_data){
            if(all_data[key][1]<1){continue;}
            classify_data.push({value:all_data[key][1],name:all_data[key][0]})
        }
        option = {
            backgroundColor: '#2c343c',

            title: {
                text: '类别销售数量对比',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },

            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series:[
                {
                    name:'',
                    type:'pie',
                    radius : '75%',
                    center: ['50%', '50%'],
                    data:classify_data.sort(function (a, b) { return a.value - b.value; }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },

                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        myChart.setOption(option);
    }


    $.get('/classify_sales_ratio',function(data){
        all_data = eval(data)
        classify_data = []
        sales_data = []
        for(key in all_data){
            classify_data.push(all_data[key][0])
            sales_data.push(all_data[key][1])
        }
        var myChart = echarts.init(document.getElementById('main'));

        var option = {
            backgroundColor: '#eeeeee',
            title: {
                text: '分类销售比例',
                textStyle:{
                    color:'#ccc',
                }
            },
            tooltip: {},
            legend: {
                data:['营业额'],
                right:0,
            },
            yAxis: {
                data: classify_data.slice(0,10),
                axisLabel:{
                    interval:0, // 标签没有间隔，及标签全部显示
                },
            },
            xAxis: {
                position:'top',
                scale:true,
            },
            series: [{
                name: '营业额',
                type: 'bar',
                data: sales_data.slice(0,10)
                },]
        };

        myChart.setOption(option);
        set_pie(all_data);

    });
    $.get('/smoke_water_ratio',function(data){
        all_data = eval(data)
        all_date = Object.keys(all_data)
        all_nums = Object.values(all_data)
        all_smoke=new Array
        all_water=[]
        for(key in all_data){
            all_smoke.push(all_data[key][0])
            all_water.push(all_data[key][1])
        }
        var smoke = echarts.init(document.getElementById('main_smoke'));
        var water = echarts.init(document.getElementById('main_water'));
        var smoke_option = {
            title: {
                text: '香烟占比',
                textStyle:{
                    fontSize:14,
                    color:'#333',
                },
            },
            tooltip: {},
            legend: {
                data:['香烟占比'],
                right:0,
            },
            xAxis: {
                data: all_date,
                type: 'category',
            },
            yAxis: {},
            series: [{
                name: '香烟占比',
                type: 'bar',
                data: all_smoke
                }]
        };
        var water_option = {
            title: {
                text: '饮料占比',
                textStyle:{
                    fontSize:14,
                    color:'#333',
                },
            },
            tooltip: {},
            legend: {
                data:['饮料占比'],
                right:0,
            },
            xAxis: {
                data: all_date,
                type: 'category',
            },
            yAxis: {},
            series: [{
                name: '饮料占比',
                type: 'bar',
                data: all_water
                }]
        };
        smoke.setOption(smoke_option)
        water.setOption(water_option)
    });
    </script>
</section>
{% endblock %}