{% extends 'base.html' %}
{% block title %}领克便利数据中心{% endblock %}
{% block header %}
    销售记录
    <small>销售记录列表</small>
{% endblock %}

{% block content_body %}
<section class="content container-fluid" style="background-color:#fff;">
    <script src="/static/js/echarts.js"></script>
    <div id="main" style="width:100%;height:400px;border:1px solid red;"></div>
    <div style="border:1px solid red;">
        <div style="font-size:14px;color:#ffffff;width:25%;float:left;background-color:#ff0000;">库存：{{goods.stock_nums}}</div>
        <div style="font-size:14px;color:#ffffff;width:25%;float:left;background-color:#ff0000;">日均销量：{{day_average|floatformat:2}}</div>
        <div style="font-size:14px;color:#ffffff;width:25%;float:left;background-color:#ff0000;text-align:center;">月均销量：{% widthratio day_average 1 30 as day%}{{day|floatformat:2}}</div>
        <div style="font-size:14px;color:#ffffff;width:25%;float:left;background-color:#ff0000;text-align:right;">近30日：{{totle_num_30}}</div>
    </div>
    <div style="border:1px solid red;">
        <div style="float:left; font-size:18px; text-align:center; width:33%;"><span class="label label-success"><a style="color:#fff;" href='/add_stock/{{goods_code}}/{{store_id}}/1'>ADD进货单</a></div>
        <div style="float:left; font-size:18px; text-align:center; width:33%;"><span class="label label-success"><a style="color:#fff;" href='/add_stock/{{goods_code}}/{{store_id}}/2'>ADD补货单</a></div>
        <div style="float:left; font-size:18px; text-align:center; width:33%;"><span class="label label-success add_link_right"><a style="color:#fff;" href='/goods_quality_add/{{goods.id}}'>ADD过期单</a></div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>单号</th>
            <th>日期</th>
            <th>数量</th>
            <th>金额</th>
        </tr>
        {% for item in form_list %}
        <tr>
            <td><a href=""><span class="badge bg-red">{{item.form_code}}</span></a></td>
            <td><span class="badge bg-blue">{{item.form_date}}</span></td>
            <td>{{item.goods_num}}</td>
            <td><span class="label label-success"><a style="color:#fff;" href=''>{{item.goods_money}}</a></span></td>
        </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '{{goods.name}}[{{goods.store_id}}]销售数据',
                textStyle:{
                    fontSize:14,
                    color:'#333',
                },
            },
            tooltip: {},
            legend: {
                data:['销售数量'],
                right:0,
            },
            xAxis: {
                data: [
                  {% for i,n in date_dict.items %}
                    '{{i}}',
                  {% endfor %}
                ],
                type: 'category',
            },
            yAxis: {},
            series: [{
                name: '销售数量',
                type: 'bar',
                data: [
                  {% for i,n in date_dict.items %}
                    {{n}},
                    {% endfor %}
                ]
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</section>
{% if not info %}
{% else %}
<script>
    alert('{{info}}');
</script>
{% endif %}
{% endblock %}
