{% extends 'base.html' %}
{% block title %}领克便利数据中心{% endblock %}
{% block header %}

{% endblock %}

{% block content_body %}
<section class="content container-fluid" style="background-color:#fff;">
    {%for item in classify_keys%}
    <a href="/goods_list?classify={{item}}"><span{% if request.GET.classify == item%} class="badge bg-red" {%else%} class="badge bg-blue" {%endif%}> {{item}}</span></a>
    {%endfor%}
    <table class="table table-hover">
        <tr>
            <th>条码</th>
            <th>名称</th>
            <th>分类</th>
            <th>库存</th>
            <th>门店</th>
            <th>编辑</th>
        </tr>
        {% for item in goods_list %}
        <tr>
            <td><a href="/goods_form/{{item.id}}"><span class="badge bg-red">{{item.bar_code}}</span></a></td>
            <td><span class="badge bg-blue">{{item.name}}</span></td>
            <td>{{item.classify}}</td>
            <td>{{item.stock_nums}}</td>
            <td>{{item.store_id}}</td>
            <td><span class="label label-success"><a style="color:#fff;" href='/goods_form/{{item.id}}'>查看</a></span></td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
