<header class="main-header">

  <a href="/" class="logo">
    <span class="logo-mini">LINK</span>
    <span class="logo-lg">LinkMart | 数据中心</span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" style="float:left;" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu" style="float:right; width:90%;">
      <ul class="nav navbar-nav">

        <li class="dropdown user user-menu" style="float:right; display:block;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">

              <p>
                {{user.username}}
                <small>{{user.admin_type}}</small>
              </p>
            </li>

            <li class="user-footer">
              <div class="pull-left">
                <a href="/vip_face" class="btn btn-default btn-flat">个人设置</a>
              </div>
              <div class="pull-right">
                <a href="/login_out" class="btn btn-default btn-flat">退出</a>
              </div>
            </li>
          </ul>
        </li>
        <!--登陆情况结束-->
        <li class="dropdown messages-menu" style="display:block; width:60%; float:right; padding-right:20px;">
            <script type="text/javascript">
                function change_value(dou,value){
                    if(value == '条码或名称'){
                        dou.value = ''
                    }
                }
            </script>
            <form method="get" action="{% if request.path == '/barcodeprint' %}/barcodeprint{% else %}/goods_list{% endif %}" style="display:block;">
              <div class="input-group margin" style="width:100%; margin-top:10px;">
                <input name="goods_code" value="条码或名称" onfocus="change_value(this,this.value)" type="text" id="codeid" class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-flat">{% if request.path == '/barcodeprint' %}标签搜索{% else %}搜索{% endif %}</button>
                </span>
              </div>
            </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
