{% extends 'base.html' %}
{% load common_tags %}
{% block title %}领克便利数据中心{% endblock %}
{% block header %}
    数据概括
    <small>统计数据概括</small>
{% endblock %}

{% block content_body %}
<section style="margin:auto; padding-top:20px;" class="content container-fluid">
    <script src="static/js/echarts.js"></script>
<!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>-->
    {% if user.admin_type == 1 %}
    <form id="select_form" role="form" action="/" method="get" enctype="multipart/form-data">
        <div class="form-group" style="margin-left:10px; font-size:16px; text-align:right;width:100%;">

            <label for="store_id">选择门店</label>
            <select onchange="gotolaction('/?store_id='+this.value)" id="select_store_id" name="store_id">
                {% all_stores as stores %}
                {% for item in stores %}
                <option {% if item.id == store_id %} selected="selected" {% endif %} value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>

        </div>
    </form>

    <div id="main" style="width:100%;height:500px; border:1px solid red;float:left;"></div>
    <div id="gross" style="width:100%; height:500px; border:1px solid blue;float:left;"></div>
    <div id="month_average" style="width:100%; height:500px; border:1px solid #000; float:left"></div>
    <div style="font-size:14px; border:1px solid red;">
        统计总天数：{{all_data.count}} 总营业额：{{totle_turnover|floatformat:'2'}} 总毛利：{{totle_gross|floatformat:'2'}}<br />
        营业额总平均：{% widthratio totle_turnover all_data.count 1 %}<br />
        毛利额总平均：{% widthratio totle_gross all_data.count 1%}
    </div>
    {% endif %}
    <div id="main_totle_forms" style="width:100%;height:500px; border:1px solid blue;"></div>
    <div id="main_average_forms" style="width:100%;height:500px;border:1px solid blue;"></div>
    <div id="main_hours" style="width:100%;height:500px; border:1px solid red;"></div>
    <div id="main_weeks" style="width:100%;height:500px; border:1px solid red;"></div>
    <script type="text/javascript">
        window_width = document.body.clientWidth
        main_box = document.getElementById("main")
        gross_box = document.getElementById("gross")
        if(window_width>1000){
            main_box.style.width = "50%";
            gross_box.style.width = "50%";
        }
        // 选项监听
        form = document.getElementById('select_form')
        function changeForm(){
            alert('changed');
            form.submit();
        }
        {% if user.admin_type == 1 %}

        // 营业数据
        var myChart = echarts.init(document.getElementById('main'));

        var option = {
            title: {
                text: '[{{store_name}}]营业趋势',
                subtext:'wooght',
            },
            tooltip: {},
            legend: {
                data:['营业额','平均值','月均线'],
                right:0,
            },
            xAxis: {
                data: [
                  {% for item in all_data %}
                    '{{item.date}}',
                  {% endfor %}
                ]
            },
            yAxis: {},
            series:[
                {
                    name: '营业额',
                    color: '#c22',
                    type: 'bar',
                    data: [
                        {% for item in all_data %}
                        {{item.turnover}},
                        {% endfor %}],
//                        markArea:{
//                            itemStyle: {
//                                color: 'rgba(0, 0, 177, 0.2)'
//                                },
//                            data: [
//                                [{
//                                    name: '2019',
//                                    xAxis: '2019年1月1日'
//                                }, {
//                                    xAxis: '2020年1月1日'
//                                }],
//                            ]
//                        }
                },

                {
                    name: '平均值',
                    type: 'line',
                    data: {{average}},
                    color: '#334455',
                },

                {
                    name: '月均线',
                    type: 'line',
                    data: {{month_average}},
                    color: '#112233',
                },
            ]
        };
        myChart.setOption(option);


        // 毛利额月比较图
        var grossChart = echarts.init(document.getElementById('gross'));
        var option = {
            title: {
                text: '[{{store_name}}]毛利额-月'
            },
            tooltip: {},
            legend: {
                data:['毛利额'],
                right:0,
            },
            xAxis: {
                data: [
                  {% for key, value in month_gross.items %}
                    '{{key}}',
                  {% endfor %}
                ]
            },
            yAxis: {},
            series: [{
                name: '毛利额',
                type: 'bar',
                data: [
                  {% for key, value in month_gross.items %}
                    {{value}},
                    {% endfor %}
                ]
                },]
        };
        grossChart.setOption(option);


        // 月均涨幅图
        var averageChart = echarts.init(document.getElementById('month_average'));
        var option = {
            title: {
                text: '[{{store_name}}]月均销量涨跌图'
            },
            tooltip: {},
            legend: {
                data:['环比','同比'],
                right:0,
            },
            xAxis: {
                data: [
                  {% for key, value in month_average_dict.items %}
                    '{{key}}',
                  {% endfor %}
                ]
            },
            yAxis: {},
            series: [{
                name: '同比',
                type: 'bar',
                data: [
                  {% for key, value in month_average_dict.items %}
                    {{value.1}},
                    {% endfor %}
                ]
                },{
                name: '环比',
                type: 'bar',
                data: [
                  {% for key, value in month_average_dict.items %}
                    {{value.2}},
                    {% endfor %}
                ]
                },]
        };
        averageChart.setOption(option);
        {% endif %}


        // 基于一周数据图标
        var myChart = echarts.init(document.getElementById('main_weeks'));
        var option = {
            title: {
                text: '[{{store_name}}]一周营业趋势'
            },
            tooltip: {},
            legend: {
                data:['营业额'],
                right:0,
            },
            xAxis: {
                data: [
                  {% for key, value in week_money.items %}
                    '{{key}}',
                  {% endfor %}
                ]
            },
            yAxis: {},
            series: [{
                name: '营业额',
                type: 'bar',
                data: [
                  {% for key, value in week_money.items %}
                    {{value}},
                    {% endfor %}
                ]
                },]
        };
        myChart.setOption(option);

        // 获取一天24小时销售情况
        $.get('/day_sales_trend',function(data){
            all_data = eval(data)

            // 基于小时数据图标
            var myChart = echarts.init(document.getElementById('main_hours'));

            var option = {
                title: {
                    text: '[{{store_name}}]24小时营业趋势'
                },
                tooltip: {},
                legend: {
                    data:['最近一月','上一月','去年同期'],
                    right:0,
                },
                xAxis: {
                    data: all_data.day_times
                },
                yAxis: {},
                series: [{
                    name: '最近一月',
                    type: 'bar',
                    data: all_data.last_month
                    },{
                    name: '去年同期',
                    type: 'line',
                    data: all_data.same_month,
                    color: 'green'
                    },{
                    name: '上一月',
                    type: 'line',
                    data: all_data.first_month,
                    color: 'blue',
                    }]
            };
            myChart.setOption(option);
        });

        // 单数以及单价
        $.get('/totle_forms',function(data){
            all_data = eval(data)
            // 单数
            var myChart = echarts.init(document.getElementById('main_totle_forms'));
            var option = {
                title: {
                    text: '[{{store_name}}]订单量'
                },
                tooltip: {},
                legend: {
                    data:['订单数'],
                    right:0,
                },
                xAxis: {
                    data: all_data.date
                },
                yAxis: {},
                series: [{
                    name: '订单数',
                    type: 'bar',
                    data: all_data.num
                    },]
            };
            myChart.setOption(option);

            //单价
            var myChart = echarts.init(document.getElementById('main_average_forms'));

            var option = {
                title: {
                    text: '[{{store_name}}]平均单价'
                },
                tooltip: {},
                legend: {
                    data:['单价'],
                    right:0,
                },
                xAxis: {
                    data: all_data.date
                },
                yAxis: {},
                series: [{
                    name: '订单数',
                    type: 'bar',
                    data: all_data.money
                    },]
            };
            myChart.setOption(option);
        });
    </script>
</section>
{% endblock %}