<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">营业数据</li>
        <li class="treeview {%if 'caijing' in request.path %}active menu-open{% endif %}">
            <a href="#">
              <i class="fa fa-table"></i> <span>营业数据</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/"><i class="fa fa-circle-o">营业概况</i></a></li>
              <li><a href="/classify_page"><i class="fa fa-circle-o">分类数据</i></a></li>
<!--              <li><a href="/concept_list'"><i class="fa fa-circle-o">酒水营业额</i></a></li>-->
<!--              <li><a href="/admin/adminlist'"><i class="fa fa-circle-o">居家个护营业额</i></a></li>-->
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
            <i class="fa fa-edit"></i> <span>运营数据</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="redian_list'"><i class="fa fa-circle-o">总开支</i></a></li>-->
<!--                <li><a href="zuhe_change_list'"><i class="fa fa-circle-o">工资开支</i></a></li>-->
<!--                <li><a href="ddtop100_list'"><i class="fa fa-circle-o">采购维修开支</i></a></li>-->
<!--            </ul>-->
        </li>
        <li class="header">产品数据</li>
        <li class="treeview {%if 'article' in request.path %}active menu-open{% endif %}">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>产品数据</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/goods_list"><i class="fa fa-circle-o">商品列表</i></a></li>
              <li><a href="/stock_list/1"><i class="fa fa-circle-o">进货单</i></a></li>
              <li><a href="/stock_list/2"><i class="fa fa-circle-o">补货单</i></a></li>
                <li><a href="/quality_list"><i class="fa fa-circle-o">保质单</i></a></li>
            </ul>
        </li>
        {%if user.admin_type == 1%}
        <li class="treeview">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>数据管理</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/upload_form"><i class="fa fa-circle-o">数据上传</i></a></li>
                <li><a href="/new_store"><i class="fa fa-circle-o">门店编辑</i> </a> </li>
                <li><a href="/register"><i class="fa fa-circle-o">添加员工</i> </a> </li>
            </ul>
        </li>
        {%endif%}

        {% if perms.admin %}
        {# 判断是否拥有管理员权限 #}
        <li>
            <a href="/admin">
                <i class="fa fa-book"></i> <span>运维系统</span></a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-folder"></i> <span>爬虫系统</span>
            </a>
        </li>
        {% endif %}
    </ul>
  </section>
</aside>
